
<strong>{{> user_messages}}</strong>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary emphasize-dark">
                        <div class="card-header bg-custom">
                            <h3 class="mb-0 my-2">Diary Entry Details</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item"><h3>{{ entryTitle }}</h3></li>
                                <li class="list-group-item">
                                    {{#if isFavorite}}
                                        <h3><i data-feather="heart" style="color: red"></i></h3>
                                        <p>Favorite entry</p>
                                    {{else}}
                                        <h3><i data-feather="heart"></i></h3>
                                    {{/if}}
                                </li>
                                <li class="list-group-item">
                                    <i class="calendar" data-feather="calendar"></i>
                                    {{ entryDate }}
                                </li>
                                <li class="list-group-item">{{ entryNote }}</li>
                                <li class="list-group-item">
                                    <a href="/diary_entries/edit?id={{ _id }}"><i class="mr-2 edit"
                                                                                  data-feather="edit"></i></a>
                                    <i class="delete" data-feather="x-square" data-toggle="modal"
                                       data-target="#myModal"></i></a>
                                    {{> delete_modal }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>