<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="d-flex flex-column flex-nowrap">
                {{#each entryList}}
                    <div class="card card-body view-all-card emphasize-dark">
                        <div class="card-columns bg-custom">
                            <p></p>
                        </div>

                        <div class="col-form-label"><span><strong>Date|&nbsp;&nbsp;</strong> </span>
                            <span>{{ date }}</span>
                        </div>
                        <div class="col-form-label"><span><strong>Title|&nbsp;&nbsp;</strong></span>
                            <span>{{ title }}</span>
                        </div>
                        <div class="view-options">
                            <span><a class="each-item mr-1" href="/diary_entries/view?id={{ _id }}"><i class="eye"
                                                                                                       data-feather="eye"></i></span>
                            <span> <a class="each-item mr-1" href="/diary_entries/edit?id={{ _id }}"><i class="edit"
                                                                                                        data-feather="edit"></i></span>
                            <span><a class="each-item mr-1"><i class="delete" data-feather="x-square"
                                                               data-toggle="modal"
                                                               data-target="#myModal{{_id}}"> </i></a></span>
                            {{> delete_modal }}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>