<h1>{{pageHeader}}</h1>
<img src="/images/delete.png" class="delete-img" alt="delete icon"/>
<br/>
<div class="container">
    <form method="post" action="/diary_entries/remove?key={{entryKey}}">
    <fieldset disabled="disabled">
        <div class="row">
            <div class="col-25">
                Key
            </div>
            <div class="col-75">
                {{ entryKey }} <input type="hidden" name="entryKey" value="{{ entryKey }}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="date" >Date</label>
            </div>
            <div class="col-75">
                <input type="date" name="day" value="{{ entryDate }}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="title">Title</label>
            </div>
            <div class="col-75">
                <input type="text" name="title" value="{{ entryTitle }}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="notes">Your Thoughts</label>
            </div>
            <div class="col-75">
                <textarea rows="5" cols="50" name="body">{{ entryNote }}</textarea>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <input type="submit" value="Delete Entry">
    </div>
    </form>
</div>